<div class="grid-container">
  <mat-card class="pokemon-card" *ngFor="let pokemon of pokemons | pokemonFilter : searchTerm">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
    </mat-card-header>
    <img mat-card-image [src]="pokemon.image" alt="Photo of a Shiba Inu">
    <mat-card-content>
    </mat-card-content>
    <mat-card-actions>
      <div class="pokemon-info">
          <span> {{ pokemon.name }}</span> <br>
          <span> {{ pokemon.types }}</span>
      </div>
      <button mat-icon-button (click)="togglePokemon(pokemon)" >
        <mat-icon [color]="pokemon.isFavorite ? 'primary' : 'accent' ">favorite</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>

