.controls-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .toggle-button {
    width: 100%;
    mat-button-toggle-group {
      display: grid;
      grid-template-columns: 50% 50%;
    }
  }

  .input-fields {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 1em;
    width: 100%;
    align-items: center;
  }
}

mat-icon {
  &:hover {
    cursor: pointer;
    background: teal;
  }
}
