<div class="controls-container">
    <div class="toggle-button">
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle (click)="onAllClick()" >All </mat-button-toggle>
        <mat-button-toggle (click)="onFavoritesClick()" >Favorites</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="input-fields">
      <mat-form-field appearance="fill">
        <input #inputRef (input)="handleInput(inputRef.value)" matInput type="text" placeholder="Search">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Pokemon Types</mat-label>
        <mat-select [(ngModel)]="selectedType" (ngModelChange)="handleSelectionChange($event)">
          <mat-option *ngFor="let pokemonType of pokemonTypes" [value]="pokemonType.value">
            {{pokemonType.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-icon (click)="onGridModeClick()" >menu</mat-icon>

      <mat-icon (click)="onListModeClick()">list</mat-icon>

    </div>
</div>
