<div class="application-container mat-app-background">

  <div class="pokemon-app-body-container">
    <section class="app-header-section">
      <app-controls *ngIf="isDetailView()" (onListMode)="handleListMode()"
                    (onGridMode)="handleGridMode()"
                    (onFavorites)="handleFavoritesClick($event)"
                    (onAll)="handleAllClicked($event)"
                    (onSearch)="handleSearch($event)"
                    (onTypeChange)="handleTypeChange($event)">
      </app-controls>
    </section>

    <section class="app-body-section">
      <app-grid-view *ngIf="isDetailView()" [viewMode]="viewMode"
                     [filterByFavorites]="filterByFavorites"
                     [searchTerm]="searchTerm" >
      </app-grid-view>
      <router-outlet></router-outlet>
    </section>
  </div>

</div>
